<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <identity impersonate="true" xdt:Transform="Insert"/>
  </system.web>
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="wsBinRoutingSoap" />
        <binding name="SSL_Binding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://brokerudiuat-vip.fnis.com/udibroker.asmx"
        binding="basicHttpBinding" 
        bindingConfiguration="SSL_Binding"
        contract="UDIBroker.wsBinRoutingSoap" name="wsBinRoutingSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings xdt:Transform="Replace">
    <BalanceTransfer.Properties.Settings>
      <setting name="BalanceTransfer_EAL_EALService" serializeAs="String">
        <value>http://LRK8WNARCRTWB14.prod.local:80/wsfis_eal/ealservice.asmx</value>
      </setting>
    </BalanceTransfer.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ConnectString" 
         value="2taSwLbIAvS5NzUCjroFfXxfSG3RE2ZY4dJaGfHTxXgr8Iv0kCljyKgWxgzKYz3wGDXaFeT5Kwh/HLpOZFehL1qJ5HDizKpTldlb7WWlUp2DKarWnB06sMEHd6J+y5nYMA5qvpxTxmqh+/23rfsgUQ=="
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Environment" value="UAT" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="VbVEnrollmentURL" value="http://LRK8WNARCRTWB14.prod.local:80/BTAuth/Auth.sync" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>