@font-face {
	font-family: 'fisfont';
	src:url('fonts/fisfont.eot?1bkfz0');
	src:url('fonts/fisfont.eot?#iefix1bkfz0') format('embedded-opentype'),
		url('fonts/fisfont.woff?1bkfz0') format('woff'),
		url('fonts/fisfont.ttf?1bkfz0') format('truetype'),
		url('fonts/fisfont.svg?1bkfz0#fisfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fisfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.625; font-size: 24px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; color:#999999;
}

.icon-loan:before {
	content: "\e61f";
}
.icon-ledger:before {
	content: "\e61e";
}
.icon-Chevronup:before {
	content: "\e650";
}

.icon-Close:before {
	content: "\e622";
}

.icon-Max:before {
	content: "\e623";
}

.icon-Min:before {
	content: "\e624";
}

.icon-Close_tab:before {
	content: "\e63f";
}

.icon-compress:before {
	content: "\e63b";
}

.icon-download:before {
	content: "\e63c";
}

.icon-expand:before {
	content: "\e63d";
}

.icon-export:before {
	content: "\e63e";
}

.icon-Action:before {
	content: "\e600";
}

.icon-AlertNotificaton:before {
	content: "\e601";
}

.icon-Approval:before {
	content: "\e602";
}

.icon-Arrow:before {
	content: "\e603";
}

.icon-Back:before {
	content: "\e604";
}

.icon-BillPay:before {
	content: "\e605";
}

.icon-Bookmark:before {
	content: "\e606";
}

.icon-Calendar:before {
	content: "\e607";
}

.icon-Camera:before {
	content: "\e608";
}

.icon-Chart:before {
	content: "\e609";
}

.icon-Chat:before {
	content: "\e60a";
}

.icon-ChevronDown:before {
	content: "\e60b";
}

.icon-ChevronRight:before {
	content: "\e60c";
}

.icon-Delete:before {
	content: "\e60d";
}

.icon-Email:before {
	content: "\e60e";
}

.icon-Error:before {
	content: "\e60f";
}

.icon-Favorite:before {
	content: "\e610";
}

.icon-File_Document:before {
	content: "\e611";
}

.icon-Folder:before {
	content: "\e612";
}

.icon-Heart:before {
	content: "\e613";
}

.icon-Help:before {
	content: "\e614";
}

.icon-Home:before {
	content: "\e615";
}

.icon-Information:before {
	content: "\e616";
}

.icon-Link_Web:before {
	content: "\e617";
}

.icon-Locations:before {
	content: "\e618";
}

.icon-Offers:before {
	content: "\e619";
}

.icon-Print:before {
	content: "\e61a";
}

.icon-Transfer:before {
	content: "\e61b";
}

.icon-Trash:before {
	content: "\e61c";
}

.icon-Video:before {
	content: "\e61d";
}

.icon-accordion .path1:before {
	content: "\e61e";
	color: rgb(0, 0, 0);
}
.icon-accordion .path2:before {
	content: "\e61f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-accordion .path3:before {
	content: "\e620";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.icon-Accounts:before {
	content: "\e621";
}

 .icon-Max:before {
	content: "\e623";
}


.icon-Edit:before {
	content: "\e626";
}

.icon-Group:before {
	content: "\e627";
}

 
.icon-Menu:before {
	content: "\e62c";
}

 

.icon-Person_Customer:before {
	content: "\e630";
}

.icon-Posak:before {
	content: "\e631";
}

.icon-Recurring:before {
	content: "\e632";
}

.icon-Refresh:before {
	content: "\e633";
}

.icon-Reports:before {
	content: "\e634";
}

.icon-Search:before {
	content: "\e635";
}

.icon-Security:before {
	content: "\e636";
}

.icon-Settings:before {
	content: "\e637";
}

.icon-TableSort:before {
	content: "\e638";
}

.icon-Target:before {
	content: "\e639";
}

.icon-Time:before {
	content: "\e63a";
}

.green_c {color:#90cb40;}
.orange {color:#f7b115;}
.red {color:#9a0404;}
.blue {color:#0c6688;}
.violet {color:#af0867;}
.white {color:#ffffff;}


.xlrg-ic {font-size: 32px;}
.lrg-ic{font-size: 24px;}
.med-ic {font-size: 20px;}
.sm-ic {font-size: 18px;}
.xsm-ic {font-size: 12px;}