<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BTWebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VbVEnrollmentURL" value="http://VWCAPEDSWB02UD.fisdev.local/BTAuth/Auth.sync" />
    <add key="ConnectString" value="2taSwLbIAvS5NzUCjroFfZnVDkqmws49bkn+rA7OBylWAXLFOkWBGr8ujLcViAWyhePGEgcISZlwwB9QtK5FFtZeEHzlmAFdHIVaMy2bFaNzO3c75epEMrY75Qw8swFfDI2mRCmIWMSpc8/vDkjWkg==" />
    <add key="APPNAME" value="BalTran" />
    <add key="APPNUMBER" value="1000" />
    <add key="SERVERNAME" value="JMRPC" />
    <add key="IsTest" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Environment" value="Dev" />
    <add key="Version" value="1.0.0.0" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <modules runAllManagedModulesForAllRequests="true">
  </modules>
  <httpProtocol>
    <customHeaders>
      <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload "/>
      <add name="X-Content-Type-Options" value="nosniff" />
      <add name="X-XSS-Protection" value="1; mode=block"/>
      <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' 'unsafe-eval';" />
      <add name="X-FRAME-OPTIONS" value="DENY" />
    </customHeaders>
  </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsBinRoutingSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vwcapedsap01ud.fisdev.local:84/udibroker.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsBinRoutingSoap"
        contract="UDIBroker.wsBinRoutingSoap" name="wsBinRoutingSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <BTWebAPI.Properties.Settings>
      <setting name="BTWebAPI_EAL_EALService" serializeAs="String">
        <value>http://vwcapeiwcs01ss.fisdev.local/wsFIS_EAL/EALService.asmx</value>
      </setting>
    </BTWebAPI.Properties.Settings>
  </applicationSettings>
</configuration>
