@{
    ViewBag.Title = "Select Transaction";
    Layout = "~/Views/Shared/_FISLayout.cshtml";
}

<div ng-controller="selectTransactionController">
    <div class="col-md-24">
        <form class="form-horizontal" role="form" name="transactionForm" novalidate>
            <div class="row">
                <div class="form-group-xs">
                    <label class="col-md-4 control-label" for="accountNumber">Account Number: </label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" ng-model="accountNumber" name="accountNumber" ng-disabled="true"/>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-toolbar">
                             <a class="btn btn-xs fis-rwd-btn-primary" href="CardInfo" target="_self">Card Info</a>
                             <a class="btn btn-xs fis-rwd-btn-primary" href="BalanceTransfer" target="_self">Balance Transfer</a>
                        </div>
                    </div>                                      
                </div>
            </div>
            <div class="row">
                <div class="col-md-24">
                    <div id="transGrid" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-24">
                    <div class="pull-right">
                        <ul ng-if="pager.pages.length" class="pagination pagination-sm">
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(1)">First</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                                <a ng-click="setPage(page)">{{page}}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div>
